.App {
    height: 100vh;
    background-color: #f7f7f7;
}

#header-container {
    height: 15vh;
}

#main-container {
    display: flex;
    height: 85vh;
}

#left-view-container {
    flex-grow: 2;
    padding: 3%;
}

#right-view-container {
    flex-grow: 1;
    padding: 1%;
}