.left-view-box {
    display: flex;
    color: #797c9c;
    border: 1px solid #ddd;
}
.left-view-box .square {
    flex-grow: 1;
    padding-left: 1%;
    padding-top: 1%;
}
.left-view-box .center-zone {
    width: 50%;
    padding-top: 1%;
}
.left-view-box .right-zone {
    flex-grow: 2;
    max-width: 30%;
    padding: 1%;
}

.center-zone .prefix {
    font-weight: bold;
}

.center-zone .message {
    font-weight: bold;
}

.center-zone .details {
    min-height: 8vh;
    max-width: 50vh;
}

.center-zone .more-details {
    text-align: right;
    cursor: pointer;
}

.right-zone .top-content, .right-zone .bottom-content {
    background-color: #f2f2f2;
    height: 3em;
    padding: 1%;
}

.bottom-content .custom-datepicker {
    width: 200px;
    padding: 1%;
    border-radius: 5px;
    background-image: url('../../images/calendar.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}